<!-- Component-Navbar Start -->
<app-navbar></app-navbar>
<!-- Component-Navbar End -->

<!-- Page Header Start -->
<div
  class="container-fluid page-header py-5 mb-5 wow fadeIn"
  data-wow-delay="0.1s"
>
  <div class="container text-center py-5">
    <h1 class="display-2 text-white mb-4 animated slideInDown">
      Términos y Condiciones
    </h1>
  </div>
</div>
<!-- Page Header End -->

<!-- Terms and Conditions Start -->
<div class="container-xxl terms-and-conditions mb-5" style="margin-top: 6rem">
  <div class="container">
    <div class="row g-0">
      <!-- Aquí puedes agregar el contenido específico de tus términos y condiciones -->
      <div class="col-lg-12">
        <div class="bg-white rounded-top p-5 mt-lg-5">
          <h1 class="display-6 mb-4">Título de los Términos y Condiciones</h1>
          <p class="mb-4">
            Aquí puedes agregar el contenido detallado de tus términos y
            condiciones.
          </p>
          <p class="mb-4">
            Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu
            diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet
            lorem sit clita duo justo
          </p>
          <!-- Puedes agregar más secciones, listas o cualquier otro contenido necesario -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Terms and Conditions End -->

<!-- Footer Start & Copyright Start -->
<app-footer></app-footer>
<!-- Footer End & Copyright End -->
