<div class="container-fluid bg-white sticky-top">
  <div class="container">
    <nav class="navbar navbar-expand-lg bg-white navbar-light p-lg-0">
      <a [routerLink]="['/']" routerLinkActive="active" class="navbar-brand">
        <img src="../../../../assets/img/Logo.png" height="120px" alt="logo" />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarCollapse"
        aria-controls="navbarCollapse"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ms-auto">
          <!-- <li class="nav-item">
            <a [routerLink]="['/']" routerLinkActive="active" class="nav-link"
              >Inicio</a
            >
          </li> -->
        </ul>
      </div>
    </nav>
  </div>
</div>
