<!-- Component-Navbar Start -->
<app-navbar></app-navbar>
<!-- Component-Navbar End -->

<!-- Carousel Start -->
<div class="container-fluid px-0 mb-5">
  <div
    id="header-carousel"
    class="carousel slide carousel-fade"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="w-100" src="assets/img/carousel-1.jpg" alt="Image" />
        <div class="carousel-caption">
          <div class="container">
            <div class="row justify-content-start">
              <div class="col-lg-7 text-start">
                <p class="fs-4 text-white animated slideInRight">
                  Bienvenido a
                  <strong>nuestro Portal MX Proveedores</strong>
                </p>
                <h1 class="display-1 text-white mb-4 animated slideInRight">
                  Libere el crecimiento de su negocio.
                </h1>
                <!-- <a
                  href=""
                  class="btn btn-primary rounded-pill py-3 px-5 animated slideInRight"
                  >Explore More</a
                > -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img class="w-100" src="assets/img/carousel-2.jpg" alt="Image" />
        <div class="carousel-caption">
          <div class="container">
            <div class="row justify-content-end">
              <div class="col-lg-7 text-end">
                <p class="fs-4 text-white animated slideInLeft">
                  MXPortaldeProveedores.com
                  <strong>Es una plataforma de gestión de proveedores.</strong>
                </p>
                <h1 class="display-1 text-white mb-5 animated slideInLeft">
                  Automatiza y estandariza el manejo de las cuentas por pagar.
                </h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#header-carousel"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#header-carousel"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
<!-- Carousel End -->

<!-- Contact Start -->
<div class="container-xxl px-0">
  <div class="container text-center mx-auto wow fadeInUp">
    <h1 class="display-5 mb-5">
      MXPortaldeProveedores.com es una plataforma de gestión de proveedores y
      recepción de factura que centraliza y automatiza los principales procesos
      de las cuentas por pagar.
    </h1>
  </div>
</div>
<!-- Contact End -->

<!-- Service Start -->
<div class="container-xxl py-5">
  <div class="container">
    <div
      class="text-center mx-auto wow fadeInUp"
      data-wow-delay="0.1s"
      style="max-width: 500px"
    >
      <p class="fs-5 fw-medium text-primary">Nuestros servicios</p>
      <h1 class="display-5 mb-5">Servicios que ofrecemos</h1>
    </div>
    <div class="row g-5">
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="service-item position-relative h-100">
          <div class="service-text rounded p-5">
            <div
              class="btn-square bg-light rounded-circle mx-auto mb-4"
              style="width: 64px; height: 64px"
            >
              <img
                class="img-fluid"
                src="assets/img/icon/icon-5.png"
                alt="Icon"
              />
            </div>
            <h5 class="mb-3">Automatización de procesos:</h5>
            <p class="mb-0">
              El portal genera expedientes de cada proveedor, con la información
              necesaria para cumplir con compromisos contractuales y
              obligaciones fiscales.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
        <div class="service-item position-relative h-100">
          <div class="service-text rounded p-5">
            <div
              class="btn-square bg-light rounded-circle mx-auto mb-4"
              style="width: 64px; height: 64px"
            >
              <img
                class="img-fluid"
                src="assets/img/icon/icon-6.png"
                alt="Icon"
              />
            </div>
            <h5 class="mb-3">Integración con proveedores:</h5>
            <p class="mb-0">
              El portal puede automatizar el proceso de gestión de facturas y
              pagos, lo que reduce la cantidad de tiempo y recursos que se
              necesitan para completar estas tareas.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
        <div class="service-item position-relative h-100">
          <div class="service-text rounded p-5">
            <div
              class="btn-square bg-light rounded-circle mx-auto mb-4"
              style="width: 64px; height: 64px"
            >
              <img
                class="img-fluid"
                src="assets/img/icon/icon-7.png"
                alt="Icon"
              />
            </div>
            <h5 class="mb-3">Órdenes de compra:</h5>
            <p class="mb-0">
              Para ofrecer una experiencia más completa, nuestro portal también
              incluye una función de control de órdenes de compra. Con esta
              opción, los proveedores podrán recibir las órdenes de compra.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="service-item position-relative h-100">
          <div class="service-text rounded p-5">
            <div
              class="btn-square bg-light rounded-circle mx-auto mb-4"
              style="width: 64px; height: 64px"
            >
              <img
                class="img-fluid"
                src="assets/img/icon/icon-8.png"
                alt="Icon"
              />
            </div>
            <h5 class="mb-3">Gestión de facturas:</h5>
            <p class="mb-0">
              Sus proveedores podrán cargar fácilmente sus facturas en el
              portal, permitiendo realizar un seguimiento de ellas en tiempo
              real.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
        <div class="service-item position-relative h-100">
          <div class="service-text rounded p-5">
            <div
              class="btn-square bg-light rounded-circle mx-auto mb-4"
              style="width: 64px; height: 64px"
            >
              <img
                class="img-fluid"
                src="assets/img/icon/icon-9.png"
                alt="Icon"
              />
            </div>
            <h5 class="mb-3">Gestión de pagos / Complementos, abonos:</h5>
            <p class="mb-0">
              Podrá programar pagos y hacer un seguimiento de los pagos
              pendientes. Además, control de los complementos de pago recibidos.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
        <div class="service-item position-relative h-100">
          <div class="service-text rounded p-5">
            <div
              class="btn-square bg-light rounded-circle mx-auto mb-4"
              style="width: 64px; height: 64px"
            >
              <img
                class="img-fluid"
                src="assets/img/icon/icon-10.png"
                alt="Icon"
              />
            </div>
            <h5 class="mb-3">Integración con otros sistemas empresariales:</h5>
            <p class="mb-0">
              Nuestro portal se integra perfectamente con los sistemas
              empresariales existentes.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Service End -->

<!-- Features Start -->
<div class="container-xxl py-5">
  <div class="container">
    <div class="row g-0 feature-row">
      <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.1s">
        <div class="feature-item border h-100 p-5">
          <div
            class="btn-square bg-light rounded-circle mb-4"
            style="width: 64px; height: 64px"
          >
            <img
              class="img-fluid"
              src="assets/img/icon/icon-1.png"
              alt="Icon"
            />
          </div>
          <h5 class="mb-3">Automatización de procesos</h5>
          <p class="mb-0">
            El portal puede automatizar el proceso de gestión de facturas y
            pagos.
          </p>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.3s">
        <div class="feature-item border h-100 p-5">
          <div
            class="btn-square bg-light rounded-circle mb-4"
            style="width: 64px; height: 64px"
          >
            <img
              class="img-fluid"
              src="assets/img/icon/icon-2.png"
              alt="Icon"
            />
          </div>
          <h5 class="mb-3">Integración con proveedores</h5>
          <p class="mb-0">
            El portal genera expedientes de cada proveedor, con la información
            necesaria para cumplir con compromisos contractuales y obligaciones
            fiscales.
          </p>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.5s">
        <div class="feature-item border h-100 p-5">
          <div
            class="btn-square bg-light rounded-circle mb-4"
            style="width: 64px; height: 64px"
          >
            <img
              class="img-fluid"
              src="assets/img/icon/icon-3.png"
              alt="Icon"
            />
          </div>
          <h5 class="mb-3">Gestión de facturas</h5>
          <p class="mb-0">
            Sus proveedores podrán cargar fácilmente sus facturas en el portal,
            permitiendo realizar un seguimiento de ellas en tiempo real.
          </p>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.7s">
        <div class="feature-item border h-100 p-5">
          <div
            class="btn-square bg-light rounded-circle mb-4"
            style="width: 64px; height: 64px"
          >
            <img
              class="img-fluid"
              src="assets/img/icon/icon-4.png"
              alt="Icon"
            />
          </div>
          <h5 class="mb-3">Soporte</h5>
          <p class="mb-0">
            Nuestro equipo de soporte está disponible para ayudar en cualquier
            momento, para responder preguntas y solucionar problemas.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Features End -->

<!-- Solutions Start -->
<div class="container-xxl py-5">
  <div class="container">
    <div
      class="text-center mx-auto wow fadeInUp"
      data-wow-delay="0.1s"
      style="max-width: 500px"
    >
      <p class="fs-5 fw-medium text-primary">Nuestras soluciones</p>
      <h1 class="display-5 mb-5">Descubre lo que ofrecemos</h1>
    </div>
    <div class="row g-5">
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="solution-item position-relative h-100">
          <div
            class="solution-text rounded p-5"
            onmouseover="this.style.transform='scale(1.05)'"
            onmouseout="this.style.transform='scale(1)'"
          >
            <div
              class="btn-square bg-light rounded-circle mx-auto mb-4"
              style="width: 64px; height: 64px"
            >
              <img
                class="img-fluid"
                src="../../../assets/img/icon/icon-10.png"
                alt="Icon"
              />
            </div>
            <h5 class="mb-3">Solución 1</h5>
            <p class="mb-0">
              Automatización de cobranza masiva con facturación y conciliación.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
        <div class="solution-item position-relative h-100">
          <div
            class="solution-text rounded p-5"
            onmouseover="this.style.transform='scale(1.05)'"
            onmouseout="this.style.transform='scale(1)'"
          >
            <div
              class="btn-square bg-light rounded-circle mx-auto mb-4"
              style="width: 64px; height: 64px"
            >
              <img
                class="img-fluid"
                src="../../../assets/img/icon/icon-10.png"
                alt="Icon"
              />
            </div>
            <h5 class="mb-3">Solución 2</h5>
            <p class="mb-0">
              Digitaliza tus cobros y pagos, integrándonos a tu ERP o con
              nuestra plataforma digital.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
        <div class="solution-item position-relative h-100">
          <div
            class="solution-text rounded p-5"
            onmouseover="this.style.transform='scale(1.05)'"
            onmouseout="this.style.transform='scale(1)'"
          >
            <div
              class="btn-square bg-light rounded-circle mx-auto mb-4"
              style="width: 64px; height: 64px"
            >
              <img
                class="img-fluid"
                src="../../../assets/img/icon/icon-10.png"
                alt="Icon"
              />
            </div>
            <h5 class="mb-3">Solución 3</h5>
            <p class="mb-0">
              Simplificamos y centralizamos tu proceso de compras, licitaciones
              y gestión de proveedores.
            </p>
          </div>
        </div>
      </div>
      <!-- Puedes agregar más columnas según sea necesario -->
    </div>
  </div>
</div>
<!-- Solutions End -->

<!-- Quote Start -->
<div class="container-xxl py-5">
  <div class="container">
    <div class="row g-5">
      <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
        <h1 class="display-5 mb-4">Ventajas de estar con nosotros!</h1>
        <p>
          <span class="fs-5 fw-medium text-primary">Mejora la eficiencia:</span>
          con un portal de control de cuentas por pagar, se puede automatizar
          gran parte del proceso de gestión de facturas y pagos, lo que reduce
          la cantidad de tiempo y recursos que se necesitan para completar estas
          tareas. Esto permite que el personal de la empresa pueda concentrarse
          en tareas más importantes y valiosas.
        </p>
        <p class="mb-4">
          <span class="fs-5 fw-medium text-primary"> Mayor transparencia:</span>
          el portal permite una mayor transparencia y visibilidad en el proceso
          de gestión de facturas y pagos, lo que permite que los empleados de la
          empresa y los proveedores tengan acceso a información actualizada y
          detallada sobre los pagos pendientes, los vencimientos de las facturas
          y el estado de las órdenes de compra.
        </p>
      </div>
      <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
        <img class="w-100" src="assets/img/carousel-1.jpg" alt="Image" />
      </div>
    </div>
  </div>
</div>
<!-- Quote Start -->

<!-- Footer Start & Copyright Start -->
<app-footer></app-footer>
<!-- Footer End & Copyright End -->

<!-- Back to Top -->
<a
  href="#"
  class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top"
  ><i class="bi bi-arrow-up"></i
></a>
