<!-- Component-Navbar Start -->
<app-navbar></app-navbar>
<!-- Component-Navbar End -->

<!-- Carousel Start -->
<div class="container-fluid px-0 mb-5">
  <div
    id="header-carousel"
    class="carousel slide carousel-fade"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="w-100" src="assets/img/carousel-1.jpg" alt="Image" />
        <div class="carousel-caption">
          <div class="container">
            <div class="row justify-content-start">
              <div class="col-lg-7 text-start">
                <p class="fs-4 text-white animated slideInRight">
                  Bienvenido a
                  <strong>Portal proveedores</strong>
                </p>
                <h1 class="display-1 text-white mb-4 animated slideInRight">
                  Libere el crecimiento de su negocio
                </h1>
                <!-- <a
                  href=""
                  class="btn btn-primary rounded-pill py-3 px-5 animated slideInRight"
                  >Explore More</a
                > -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img class="w-100" src="assets/img/carousel-2.jpg" alt="Image" />
        <div class="carousel-caption">
          <div class="container">
            <div class="row justify-content-end">
              <div class="col-lg-7 text-end">
                <p class="fs-4 text-white animated slideInLeft">
                  MXPortaldeProveedores.com
                  <strong>es una plataforma de gestión de proveedores</strong>
                </p>
                <h1 class="display-1 text-white mb-5 animated slideInLeft">
                  Automatiza y estandariza el manejo de las cuentas por pagar
                </h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#header-carousel"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#header-carousel"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
<!-- Carousel End -->

<!-- Contact Start -->

<div class="container-xxl px-0">
  <div class="container text-center mx-auto wow fadeInUp">
    <h1 class="display-5 mb-5">
      MXPortaldeProveedores.com es una plataforma de gestión de proveedores y
      recepción de factura que centraliza y automatiza los principales procesos
      de las cuentas por pagar.
    </h1>
  </div>
</div>
<!-- Contact End -->

<!-- Features Start -->
<div class="container-xxl py-5">
  <div class="container">
    <div class="row g-0 feature-row">
      <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.1s">
        <div class="feature-item border h-100 p-5">
          <div
            class="btn-square bg-light rounded-circle mb-4"
            style="width: 64px; height: 64px"
          >
            <img
              class="img-fluid"
              src="assets/img/icon/icon-1.png"
              alt="Icon"
            />
          </div>
          <h5 class="mb-3">Award Winning</h5>
          <p class="mb-0">
            Stet stet justo dolor sed duo. Ut clita sea sit ipsum diam
          </p>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.3s">
        <div class="feature-item border h-100 p-5">
          <div
            class="btn-square bg-light rounded-circle mb-4"
            style="width: 64px; height: 64px"
          >
            <img
              class="img-fluid"
              src="assets/img/icon/icon-2.png"
              alt="Icon"
            />
          </div>
          <h5 class="mb-3">Professional Staff</h5>
          <p class="mb-0">
            Stet stet justo dolor sed duo. Ut clita sea sit ipsum diam
          </p>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.5s">
        <div class="feature-item border h-100 p-5">
          <div
            class="btn-square bg-light rounded-circle mb-4"
            style="width: 64px; height: 64px"
          >
            <img
              class="img-fluid"
              src="assets/img/icon/icon-3.png"
              alt="Icon"
            />
          </div>
          <h5 class="mb-3">Fair Prices</h5>
          <p class="mb-0">
            Stet stet justo dolor sed duo. Ut clita sea sit ipsum diam
          </p>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.7s">
        <div class="feature-item border h-100 p-5">
          <div
            class="btn-square bg-light rounded-circle mb-4"
            style="width: 64px; height: 64px"
          >
            <img
              class="img-fluid"
              src="assets/img/icon/icon-4.png"
              alt="Icon"
            />
          </div>
          <h5 class="mb-3">24/7 Support</h5>
          <p class="mb-0">
            Stet stet justo dolor sed duo. Ut clita sea sit ipsum diam
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Features End -->

<!-- Quote Start -->
<div class="container-xxl py-5">
  <div class="container">
    <div class="row g-5">
      <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
        <p class="fs-5 fw-medium text-primary">Get A Quote</p>
        <h1 class="display-5 mb-4">Need Our Expert Help? We're Here!</h1>
        <p>
          Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu
          diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet
          lorem sit clita duo justo
        </p>
        <p class="mb-4">
          Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu
          diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet
          lorem sit clita duo justo
        </p>
        <a
          class="d-inline-flex align-items-center rounded overflow-hidden border border-primary"
          href=""
        >
          <span
            class="btn-lg-square bg-primary"
            style="width: 55px; height: 55px"
          >
            <i class="fa fa-phone-alt text-white"></i>
          </span>
          <span class="fs-5 fw-medium mx-4">+012 345 6789</span>
        </a>
      </div>
      <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
        <img class="w-100" src="assets/img/carousel-1.jpg" alt="Image" />
      </div>
    </div>
  </div>
</div>
<!-- Quote Start -->

<!-- Quote Start -->
<div class="container-xxl py-5">
  <div class="container">
    <div class="row g-5">
      <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
        <img class="w-100" src="assets/img/carousel-1.jpg" alt="Image" />
      </div>
      <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
        <p class="fs-5 fw-medium text-primary">Get A Quote</p>
        <h1 class="display-5 mb-4">Need Our Expert Help? We're Here!</h1>
        <p>
          Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu
          diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet
          lorem sit clita duo justo
        </p>
        <p class="mb-4">
          Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu
          diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet
          lorem sit clita duo justo
        </p>
        <a
          class="d-inline-flex align-items-center rounded overflow-hidden border border-primary"
          href=""
        >
          <span
            class="btn-lg-square bg-primary"
            style="width: 55px; height: 55px"
          >
            <i class="fa fa-phone-alt text-white"></i>
          </span>
          <span class="fs-5 fw-medium mx-4">+012 345 6789</span>
        </a>
      </div>
    </div>
  </div>
</div>
<!-- Quote Start -->

<!-- Footer Start & Copyright Start -->
<app-footer></app-footer>
<!-- Footer End & Copyright End -->

<!-- Back to Top -->
<a
  href="#"
  class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top"
  ><i class="bi bi-arrow-up"></i
></a>
